POSTGRES_USER=llmobs
POSTGRES_PASSWORD=llmobs
POSTGRES_DB=llmobs
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
API_PORT=8000
WORKER_POLL_SECONDS=30
QUALITY_SAMPLE_RATE=0.25
QUALITY_THRESHOLD=4.0
QUALITY_WINDOW_SIZE=5
DRIFT_RECENT_COUNT=10
DRIFT_BASELINE_COUNT=15
DRIFT_MIN_SAMPLES=5
DRIFT_DELTA_THRESHOLD=0.0
OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_JUDGE_MODEL=mistral
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
